# Python virtual environment
venv/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# Python cache
__pycache__/
*.py[cod]

# Node.js dependencies
node_modules/

# Environment variables
.env
.env.*

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/